* {
  scroll-behavior: smooth;
  font-family: "Heebo";
}

body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
}
table {
  border-spacing: 0;
}
td{
  padding: 0;
}
img{
  border: 0;
}

.wrapper{
  text-align: center;
  width: 100%;
  table-layout: fixed;
  background-color: #cccccc;
  padding-bottom: 60px;
}

.main{
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 600px;
  border-spacing: 0;
  color: #171a1b;
}
.topborder{
  height: 8px;
  background-color: #053935;
}
.logosection{
  width: 100%;
}
.cwlogo{
  width: 180px;
}
.icons{
  width: 30px;
  padding-left: 1px;
  padding-top: 5px;
}
.two-columns{
  text-align: center;
  font-size: 0;
}
.two-columns .column{
  width: 100%;
  max-width: 300px;
  display: inline-block;
  vertical-align: top;
}
.header{
  padding: 14px 0px 4px;
}
.logohead{
  padding: 0px 62px 10px;
}
.somehead{
  padding: 10px 72px;
}
.bannerpng{
  width: 600px;
  max-width: 100%;
}
.threecolumnsection{
  width: 100%;
}
.about-us, .benefits, .events{
  width: 130px;
  max-width: 100px;
}
.abouth1, .benefitsh1, .eventsh1{
  font-weight: bold;
  font-size: 17px;
  color: #E9C46A;
}
.three-columns{
  text-align: center;
  font-size: 0;
  padding: 15px 0px 25px;
}
.three-columns .column{
  width: 100%;
  max-width: 200px;
  display: inline-block;
  vertical-align: top;
}
.three-columns .padding{
  padding: 15px;
}
.three-columns .content{
  font-size: 15px;
  line-height: 20px;
  padding: 0px 5px;
}
.footersection{
  background-color: #053935;
}
.footer {
  width: 100%;
}
.footer-column{
  text-align: center;
  padding: 45px 20px;
  color: #ffffff;
}
.cwlogofoot{
  width: 180px;
}
.footertitle{
  padding: 10px;
}
.footertext{
  padding: 10px;
}

@media screen and (max-width: 600px) {
}
@media screen and (max-width 400px) {
}
